nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(213, 213, 213);
}
.nav-list {
    display: flex;
    list-style: none;
    gap: 2rem;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(182, 182, 182);
    height: 15rem;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(97, 97, 97);
    color: white;
}
h2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 21rem;
}
.cards-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 182, 182);
}